table, caption, tbody, tfoot,thead, tr, th, td {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 87%;
    	#font: inherit;
    	vertical-align: baseline;
}

table {
		border-collapse: collapse;
		border-spacing: 15px;
		margin-left:auto; 
        margin-right:auto;
}
td {
		margin: 10px;
		padding-right: 10px;
		#text-align:right:
		#float: right:
}
thead {
	    text-align:center;
}
tbody {text-align: right;}
.col1 {
		background:#bbb;
		padding-right: 10px;
}
.col2 {
		text-align:right;
		# background:red;
}
tbody tr:nth-child(even) {
		background-color: #eee;
}
tbody tr:nth-child(odd) {
		background-color: #fff;
}
table th {
		color: #fff;
	    background-color: rgba(255, 0, 0, 0.84);
}